<%  
search = Twitter::Search.new(session['search_term'])
tweets = []
session['last_id'] = 0
search.since(session['last_id']).each do |r| 
  begin
    if r.iso_language_code == 'en'
      tweet_text = "#{linkify(r.text)}"
    else
      tweet_text = "#{linkify(translate(r.text, 'en', r.iso_language_code))}"
    end
    tweets <<  "<p><image src='#{r.profile_image_url}' /><a href='http://twitter.com/#{r.from_user}'>#{r.from_user}</a>  #{tweet_text} <cite>#{r.created_at}</cite></p>"
    session['last_id'] = r.id if r.id > session['last_id'].to_i
  rescue StandardError => e
    puts "error #{e.message}"
  end
end
tweets.join('<br />')
%>
<%= tweets %>